---
import { StructuredText } from '@datocms/astro';
import { ImageBlock } from '~/components/blocks/ImageBlock';
import { VideoBlock } from '~/components/blocks/VideoBlock';
import { ImageGalleryBlock } from '~/components/blocks/ImageGalleryBlock';

import { PageInline } from '~/components/inlineRecord/PageInline';
import { PageLink } from '~/components/linkToRecord/PageLink';
import { HeadingWithAnchorLink } from '~/components/HeadingWithAnchorLink';

interface PostBodyProps {
  content: any; // Adjust the type as needed
}
const { content } = Astro.props as PostBodyProps;

---

<div class="max-w-2xl mx-auto">
  <div class="prose prose-lg prose-green">
    <StructuredText
      data={content}
      blockComponents={{
        ImageBlockRecord: ImageBlock,
        VideoBlockRecord: VideoBlock,
        ImageGalleryBlockRecord: ImageGalleryBlock,
      }}
    />
  </div>
</div>
