---
import { StructuredText } from '@datocms/astro';
import { ImageBlock } from '~/components/blocks/ImageBlock';

import { PageInline } from '~/components/inlineRecord/PageInline.astro';
import { PageLink } from '~/components/linkToRecord/PageLink.astro';
import { HeadingWithAnchorLink } from '~/components/HeadingWithAnchorLink.astro';
import { VideoBlock } from '~/components/blocks/VideoBlock';
import { ImageGalleryBlock } from '~/components/blocks/ImageGalleryBlock';
import ResponsiveImage from '../components/ResponsiveImage.astro';

import type {
  StructuredTextGraphQlResponse,
  RenderInlineRecordContext,
  RenderLinkToRecordContext,
  RenderBlockContext,
} from '@datocms/structured-text-types';

interface PostBodyProps {
  content: StructuredTextGraphQlResponse;
}

const { content } = Astro.props as PostBodyProps;

---

<div class="max-w-2xl mx-auto">
  <div class="prose prose-lg prose-green">
    <StructuredText
      data={content}
      blockComponents={{
        ImageBlockRecord: ImageBlock, VideoBlockRecord: VideoBlock, ImageGalleryBlockRecord: ImageGalleryBlock
      }}
    />
  </div>
</div>
