---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import '../styles/global.css';
import SiteNav from '~/components/navbar.astro';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body>
    <header>
      <SiteNav />
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
